 <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <h1 class="display-4 fw-bold mb-3">Cursos da Pycodemoz</h1>
          <p class="lead mb-4">Desenvolva suas habilidades em programação com nossos cursos práticos e atualizados</p>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid rounded shadow" src="{{ url_for('static', filename='dev.jpg') }}" alt="Desenvolvimento de Software" style="max-height: 300px; width: 100%; object-fit: cover;">
        </div>
      </div>
    </div>


